[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "beancount-mode"]
	path = lib/beancount-mode
	url = git@github.com:beancount/beancount-mode.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "dash"]
	no-byte-compile = dash-functional.el
	no-makeinfo = dash-template.texi
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "magit"]
	no-byte-compile = lisp/magit-libgit.el
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "sqlite3"]
	build-step = make
	path = lib/sqlite3
	url = https://github.com/pekingduck/emacs-sqlite3-api
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
